<div class="footer">
  <table class="footer__table">
    <tr class="footer__table-row">
      <th class="footer__table-head">Project:</th>
      <th class="footer__table-head">Tools:</th>
      <th class="footer__table-head">Members:</th>
    </tr>
    <tr class="footer__table-row">
      <td class="footer__table-body">Alcomarket</td>
      <td class="footer__table-body">
        <p>Angular</p>
        <p>HTML CSS JS</p>
        <p>PWA workers</p>
      </td>
      <td class="footer__table-body">
        <p>Aleksandr Kim</p>
        <p>Yerassyl Tastybay</p>
        <p>Ilyas Rashitov</p>
      </td>
    </tr>
    <tr class="footer__table-row">
      <td class="footer__table-body text-center" colspan="3">
        &copy; 2023 RUSH_KT - Alcohol Market. All rights reserved.
      </td>
    </tr>
  </table>
</div>
