<div class="box">
    <h2 id="top">Register</h2>
    <form id="form">
      <div class="inputBox">
        <label for="userName">Username</label>
        <input
        [(ngModel)]="username"
          type="text"
          name="username"
          id="username"
          placeholder="Enter your username"
        />
      </div>
      <div class="inputBox">
        <label for="userPassword">Password</label>
        <input
        [(ngModel)]="password1"
          type="password"
          name="password"
          id="password"
          placeholder="Enter your password"
        />
      </div>
      <div class="inputBox">
        <label for="userPassword">Password again</label>
        <input
        [(ngModel)]="password2"
          type="password"
          name="password"
          id="password"
          placeholder="Enter your password"
        />
      </div>
      <div class="box__btns">
        <app-btn class="submit">
          <span btn class="submit-btn" (click)="register()">Register</span>
        </app-btn>
        <app-btn class="submit">
          <span btn class="submit-btn" routerLink="/login">Already have an account?</span>
        </app-btn>
      </div>
    </form>
  </div>
  